{% extends 'sell_time/base.html' %}
{% block title %}Your Cart{% endblock %}
    {% block style %}
        <style>
            h1 {
                text-align: center;
            }
            ul {
                list-style: none;
                padding: 0;
                text-align: center;
            }
            li {
                margin-bottom: 10px;
            }
            .center {
                text-align: center;
                margin-top: 30px;
            }
            .pay-button-wrapper {
                text-align: center;
                margin-top: 20px;
            }
        </style>
    {% endblock %}
{% block content %}
<h1>Your Time Cart</h1>
    {% if cart %}
        <ul>
            {% for item in cart %}
                <li>{{ item.duration }} min — {{ item.name }} — £{{ item.price|floatformat:2 }}</li>
            {% endfor %}
        </ul>
        <p class = "center"><strong>Total:</strong> £{{ total|floatformat:2 }}</p>
        <form method="post" action="{% url 'clear_cart' %}" class="center">
            {% csrf_token %}
            <button type="submit">Clear Cart</button>
        </form>
        <div class="center btn-group">
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'user_checkout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn">Checkout</button>
                </form>
            {% else %}
                <form method="post" action="{% url 'guest_checkout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn">Checkout as Guest</button>
                </form>
                <a href="{% url 'login' %}?next={% url 'user_checkout' %}" class="btn">Log in to Checkout</a>
                <a href="{% url 'signup' %}?next={% url 'user_checkout' %}" class="btn">Sign Up</a>
            {% endif %}
            </div>
    {% else %}
        <p class = "center">Your cart is empty!</p>
    {% endif %}
        <div style = "text-align: center; margin-top: 30px;">
            <a href = "{% url 'homepage' %}" class="btn">Return Home</a>
            <a href = "{% url 'product_list' %}" class = "btn">Search for Product</a>
        </div>
{% endblock %}
