{% extends 'sell_time/base.html' %}
{% block title %}Guest Checkout{% endblock %}
{% block content %}
<h1>Guest Checkout</h1>
  <p class="center"><strong>Total:</strong> £{{ total|floatformat:2 }}</p>
  <form method="post" style="text-align: center;">
    {% csrf_token %}
      <label>Email:</label>
      <input type = "email" name = "email" required>
      <button type = "submit">Complete Purchase</button>
  </form>
  <div style = "text-align: center; margin-top: 30px;">
    <a href = "{% url 'product_list' %}" class = "btn">Search for Product</a>
    <a href="{% url 'login' %}" class = 'btn'>Log in</a>
    <a href="{% url 'signup' %}" class = 'btn'>Sign up</a>
    <a href = "{% url 'cart' %}" class = "btn">Return to Cart</a>
  </div>

{% endblock %}