{% extends 'sell_time/base.html' %}
{% block title %}Buy Some Time!{% endblock %}
{% block content %}
    <h1>Buy Some Time!</h1> 
    <div class = "button-row"> 
        <form method = "post"> 
            {% csrf_token %} 
            <label>Enter Minutes (Future):</label> 
            <input type="number" name="duration" min="1" max="7000" required>
            <input type="hidden" name="use_type" value="future"> 
            <button type = "submit">Add to Cart</button> 
        </form>
    
        <form method = "post">
            {% csrf_token %}
            <label>Enter Minutes (Past):</label> 
            <input type="number" name="duration" min="1" max="7000" required> 
            <input type="hidden" name="use_type" value="future"> 
            <button type="submit">Add to Cart</button>
        </form>
    </div>
    
    <div style = "text-align: center; margin-top: 30px;">
        <a href = "{% url 'cart' %}" class = "btn">Check Out</a>
        <a href = "{% url 'homepage' %}" class = "btn">Return to Homepage</a>
    </div>
{% endblock %}


